.sidebar__row{
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 10px;
    border-radius: 15px;
    transition: 0.2s linear;
}
.sidebar__row:hover{
    background-color: #7095b9;
}
.sidebar__row > h4{
    padding-left: 10px;
    cursor: pointer;
}
.sidebar__row > .MuiSvgIcon-root{
    color: #33588d;
    cursor: pointer;
}
.name{
    font-size: larger;
}