.App{
    background-color: #f1f2f5;
}
.App__body{
    flex: 1;
    display: flex;
    justify-content: space-between;
}
.App__body__sidebar{
    width: 20vw;
}
.App__body__feed{
    width: 40vw;
}
.App__body__chat{
    width: 20vw;
}
@media(max-width: 1100px){
    .App__body__sidebar{
        display: none;
    }
    .App__body{
        justify-content: center;
    }
    .App__body__chat{
        display: none;
    }
}